body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 400px;
  table-layout: fixed;
  color: #000;
  font-size: 20px;
}

table tr {
  background-color: #fff;
  padding: .35em;
  border-bottom: 1px solid #bbb;
}

table thead {
  font-size: larger;
  border-bottom: 5px solid #ff9900;
}

table tr:last-child {
  border-bottom: none
}

table th,
table td {
  padding: 1em 10px 1em 1em;
  border-right: 1px solid #bbb;
  width: 150px;
}

table th:last-child,
table td:last-child {
  border: none;
}

tbody th {
  color: #ff9901;
}

.txt {
  text-align: left;
  font-size: .85em;
}

.price {
  text-align: right;
}

@media screen and (max-width: 450px) {
  table {
      border: 0;
      width: 100%
  }

  table th {
      display: block;
      border-right: none;
      border-bottom: 5px solid #ff9901;
      padding-bottom: .6em;
      margin-bottom: .6em;

  }

  table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
  }

  table tr {
      display: block;
      margin-bottom: 2em;
      border-bottom: 1px solid skyblue;
  }

  table td {
      border-bottom: 1px solid skyblue;
      display: block;
      font-size: .8em;
      text-align: right;
      position: relative;
      padding: .625em .100em .625em 6em;
      border-right: none;
  }

  table td::before {
      content: attr(data-label);
      font-weight: bold;
      position: absolute;
      left: 10px;
  }

  table td:last-child {
      border-bottom: 0;
  }
}